<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Edit Additional Metrics</title>
</head>

<body>

<div class="container">

  <hr>

  <p class="h4 mb-4">Edit Additional Metrics</p>

  <form action="#" th:action="@{/conferences/save}"
        th:object="${additionalMetric}" method="POST">
    <input type="text" th:field="${conferenceFrontendDTO.title}" hidden/>
    <input type="text" th:field="${conferenceFrontendDTO.id}" hidden/>


    <div style="display: none">
      Metric Id&emsp;&emsp;<input type="text" th:field="*{metId}"
                                   class="form-control mb-4 col-4" placeholder="Metric Id" name="metId">
    </div>

    <div class="form-inline">
      Datapoint&emsp;&emsp;<input type="text" th:field="*{datapoint}"
                                           class="form-control mb-4 col-4" placeholder="Datapoint" name="datapoint">

      <!-- Add error message (if present) -->
      <span th:if="${#fields.hasErrors('datapoint')}"
            th:errors="*{datapoint}"
            class="badge badge-danger ml-2 mb-4"></span>

    </div>
    <div class="form-inline">
      Metric Identifier&emsp;&emsp;<input type="text" th:field="*{metricIdentifier}"
                                  class="form-control mb-4 col-4" placeholder="Metric Identifier" name="metricIdentifier">

      <!-- Add error message (if present) -->
      <span th:if="${#fields.hasErrors('metricIdentifier')}"
            th:errors="*{metricIdentifier}"
            class="badge badge-danger ml-2 mb-4"></span>

    </div>

    <div style="form-inline">
      Ingest Type  <select th:field="*{configString}">
        <option th:each="type : ${types}" th:value="${type}" th:text="${type}">
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-info col-2">Save</button>

  </form>

  <div>
    </br>
    <form th:action="@{showFormForEditConfigs}"
          th:object="${additionalMetric}"
          method="GET">
      <input type="text" th:field="${conferenceFrontendDTO.title}" hidden/>
      <input type="text" th:field="${conferenceFrontendDTO.id}" hidden/>
      <input type="text" th:field="${conferenceFrontendDTO}" hidden/>
      <input type="text" th:field="*{metId}" hidden/>
      <input type="text" th:field="*{metricIdentifier}" hidden/>
      <input type="text" th:field="*{ingestConfigId}" hidden/>
      <input type="text" th:field="*{conferenceEdition}" hidden/>
      <button type="submit" class="btn btn-info col-2">Edit Config</button>
    </form>
  </div>

  <hr>
  <a th:href="@{showFormForEditConferenceEdition(title=${conferenceFrontendDTO.title}, option=${conferenceFrontendDTO.id})}">Back to Conference Editions</a>

</div>
</body>

</html>
